// ======= HEADER STYLES START =======
.header {
    &__menu {
        @media screen and (max-width: 700px) {
            margin-left: 0;
            .menu__list {
                margin-bottom: 12px;
            }
        }
    }
    &__languages {
        margin-left: 70px;
        @media screen and (max-width: 700px) {
            margin-left: 0;
            .languages__language {
                padding: 30px 0 0;
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
                width: inherit;
                border: none;
                justify-content: flex-start;
                .flag-icon {
                    width: 38px;
                }
                .arrow {
                    display: none;
                }
            }
            .languages__list {
                opacity: 1;
                visibility: visible;
                position: inherit;
                padding: 0 0 7px;
                pointer-events: inherit;
                transform: translate(0);
            }
            .languages__item {
                margin-bottom: 0;
            }
            .languages__link {
                font-size: 24px;
                line-height: 40px;
            }
            .flag-icon {
                padding-right: 2px;
                img {
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
    }
    &__logo {
        &.mobile {
            margin-bottom: 18px;
        }
    }
    &__write-us {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        padding: 0;
        svg {
            width: 31px;
            height: 21px;
            margin-right: 4px;
        }
    }

    @media screen and (max-width: 700px) {
        &__privacy {
            margin-bottom: 22px;
            .privacy__link {
                line-height: 26px;
                display: block;
                margin: 0;
                letter-spacing: -0.5px;
            }
        }

        &__download {
            width: 160px !important;
            height: 51px !important;
            margin-bottom: 11px;
        }

        &__rating {
            .rating__label {
                font-size: 14px;
                line-height: 17px;
                padding-bottom: 2px;
            }
            .rating__stars {
                justify-content: flex-start;
                img {
                    max-width: 17px;
                }
            }
        }
    }
}

.menu {
    &__burger {
        margin-left: auto;
        z-index: 6;
        @media screen and (max-width: 700px) {
            &::before,
            &::after {
                content: "";
                background-color: #000;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: 0.3s ease all 0s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                background-color: #000;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
                transition: 0.3s ease all 0s;
            }
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
        }
        &.active::before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
    }

    &__body {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 700px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: #fff;
            display: block;
            padding: 35px 20px;
            transition: 0.3s ease all 0s;
            z-index: 5;
            overflow: auto;
            &.active {
                left: 0;
            }
        }
    }

    &__list {
        display: flex;
        margin: 0 -18px;
        @media screen and (max-width: 700px) {
            display: block;
        }
    }

    &__item {
        padding: 0 18px;
    }

    &__link {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000;
        transition: 0.3s ease all 0s;
        @media screen and (min-width: 991px) {
            &:hover {
                color: #1e6bc6;
            }
        }
        @media screen and (max-width: 700px) {
            line-height: 40px;
            font-size: 24px;
        }
    }
}
.languages {
    position: relative;
    &.open {
        .languages__list {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }
    }
    &__language {
        background: #fff;
        border-radius: 20px;
        padding: 6px 16px;
        width: 168px;
        border: 2px solid #f1f8ff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 11;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s ease all 0s;
        @media screen and (min-width: 991px) {
            &:hover {
                color: #1e6bc6;
            }
        }
    }

    &__list {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        border-radius: 0px 0px 20px 20px;
        padding: 29px 16px 21px;
        transform: translate(0, 18px);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.3s ease all 0s;
        z-index: 10;
    }

    &__item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        transition: 0.3s ease all 0s;

        @media screen and (min-width: 991px) {
            &:hover {
                color: #1e6bc6;
            }
        }
    }
}
.arrow {
    position: relative;
    height: 11px;
    width: 16px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 1px;
        height: 100%;
        transition: all 0.3s;
    }
    &::before {
        transform: rotate(-45deg);
        background-color: #394a6d;
        left: 3.5px;
    }
    &::after {
        transform: rotate(45deg);
        background-color: #394a6d;
        right: 3.5px;
    }
}
.open {
    .arrow {
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
.flag-icon {
    padding-right: 5px;
}
