@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #000;
}

.no-webp .bg-container {
  background: url(../img/main/bg.png) no-repeat; }

.bg-container {
  max-width: 1100px;
  margin: 0 auto;
}

.content-container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__bg-container {
  padding: 31px 0;
}

.header__languages {
  margin-left: 70px;
}

.menu__burger {
  margin-left: auto;
  z-index: 2;
}

.menu__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.menu__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.menu__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -18px;
}

.menu__item {
  padding: 0 18px;
}

.menu__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.languages {
  position: relative;
}

.languages.open .languages__list {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.languages__language {
  background: #fff;
  border-radius: 20px;
  padding: 6px 16px;
  width: 168px;
  border: 2px solid #f1f8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.languages__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  border-radius: 0px 0px 20px 20px;
  padding: 29px 16px 21px;
  -webkit-transform: translate(0, 18px);
      -ms-transform: translate(0, 18px);
          transform: translate(0, 18px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.languages__item {
  margin-bottom: 10px;
}

.languages__item:last-child {
  margin-bottom: 0;
}

.languages__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.arrow {
  position: relative;
  height: 11px;
  width: 16px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 1px;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.arrow::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #394a6d;
  left: 3.5px;
}

.arrow::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #394a6d;
  right: 3.5px;
}

.arrow.open::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow.open::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.flag-icon {
  padding-right: 5px;
}

.mobile {
  display: none;
  margin-bottom: 22px;
}

@media screen and (min-width: 991px) {
  .menu__link:hover {
    color: #1e6bc6;
  }

  .languages__language:hover {
    color: #1e6bc6;
  }

  .languages__link:hover {
    color: #1e6bc6;
  }
}

@media screen and (max-width: 700px) {
  .header__languages {
    margin-left: 0;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .menu__burger::before,
  .menu__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    padding: 35px 20px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    line-height: 40px;
  }

  .mobile {
    display: inline-block;
  }
}

.webp .bg-container { background: url(../img/main/bg.webp) no-repeat; }